header {
    background-color: #1D3557;
    margin-bottom: 50px;
}

header h3 {
    padding: 10px 10px;
    color: #F1FAEE;
}

.hide {
    display: none;
}

.btn {
    color: #F1FAEE;
    background-color: #1D3557;  
}

.btn-primary:hover{
    background-color: #28262C; 
}
.jumbotron {
    background-color: #A8DADC;
    color: #28262C;
}
